body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container{
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
  min-height: 100vh;
}
.notes-list{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.note-new{
  background-color: #66c6f3;

}
textarea{
  border: none;
  resize: none;
  background-color: #66c6f3;
}
textarea:focus{
  outline: none;
}
.save:hover{
  background-color: #ffffff;
  cursor: pointer;
}
.save{
  background-color: #cfcece;
  border: none;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
}
.note{
  background-color: #f0eb70;
}
.note, .note-new {
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction:  column;
  justify-content: space-between;
  /* keeps any spacing that was added into the text */
  white-space: pre-wrap; 

}
.note-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-icon{
  cursor: pointer;
}

.search {
  display: flex;
  align-items: center;
  background-color: #ececec;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 1.5em;
}

.search input {
  border: none;
  background-color: #ececec;
  width: 100%;

}

.search input:focus{
  outline: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.darkMode {
  background-color: black;
}

.darkMode h1 {
  color: white;
}